:root{
    --primary-color:#F95700;
    --secondary--color:#00B1D2;
}


body{
    text-align: center;
}
h1{
    margin-bottom: 1rem;
    color: var(--primary-color);
}
label{
    display: block;
    padding: 1rem;
}
input{
    width: 50%;
    padding: 1rem;
    border-color: var(--primary-color);
 
}

button{
    padding: 1rem;
    border-radius: 0.5rem;
    margin: 1rem 1rem;
    color: var(--secondary--color);
    background-color: var(--primary-color);
    font-weight: bolder;
}
